@import "../settings/variables";

h1,h2,h3,h4{
  font-family: $font-family-headings;
  font-weight: 700;
  line-height: 140%;
  color:$title-color;
  margin: 0;
}

h1{
  font-size: $font-title-lg;
}

h2{
  font-size: $font-title-md;
}

h3{
  font-size: $font-title-sm;
}

h4{
  font-size: $font-title-xs;
}
