@use "../../settings/variables";
.g-main-sidebar{
  position: fixed;
  top: variables.$header-height;
  height: calc(100vh - variables.$header-height);
  background: variables.$bg-color;
  width: variables.$sidebar-width;
  padding:0.75rem 0;
  overflow-y: auto;
}