.features{
  padding: 4rem 0;
  background: var(--black);
  text-align: center;
}
.features-titles{
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.features-titles h2{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: var(--just-white);
}

.features-titles p{
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #808080;
}

.features-cards{
  display: grid;
  row-gap: 1rem;
}