@use "../../settings/variables";
.a-button-cta{
  $size:2.5rem;
  height: $size;
  width: $size;
  border-radius: 50%;
  border: 1px solid transparent;
  background: none;
  transition: border-color 0.25s;
  &::before {
      color: variables.$text-color-alt;
      font-size: 1.5rem;
  }
  &:active{
    background-color: variables.$bg-color-active;
    border-color: variables.$bg-color-active;
  }
}


