@import "../settings/variables";
@import "../tools/mixins";

.g-header{
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  background: $background-light-color;
  box-shadow: $shadow;
  padding: .75rem 0;
  display: flex;
  z-index: 99;
  &__container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

