@import "../tools/mixins";
@import "../settings/variables";
.g-hero{
  $columns:1;
  &__container{
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    gap: 4rem 0;
  }
  &__title{
    font-size: $font-title-sm;
    margin-bottom: .5rem;
  }
  &__subtitle{
    margin-bottom: 1.5rem;
  }
  &__description{
    margin-bottom: 2rem;
  }
  &__image{
    margin: 0 auto;
  }
  &__buttons{
    display: flex;
    gap: 0 1.125rem;
  }
  @include mq(320px){
    &__title{
      font-size: $font-title-md;
    }
    &__buttons {
      display: flex;
      gap: 0 1.25rem;
    }
  }
  @include mq(768px) {
    $columns: 12;
    padding: 3rem 0;  
    &__container {
      gap: 0 2rem;
      grid-template-columns: repeat($columns, 1fr);
      align-items: center;
    }
  
    &__content {
      grid-column: 1/8;
    }
  
    &__image {
      grid-column: 8/13;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @include mq(1024px){
    &__container {
      gap: 0 1.5rem;
      grid-template-columns: repeat($columns, 1fr);
    }
    &__content {
      grid-column: 1/7;
    }
    &__image {
      grid-column: 8/13;
    }
    &__title{
      font-size: $font-title-lg;
    }
    &__description{
      font-size: $font-bigger;
    }
  }

}